---
import Layout from '../layouts/Layout.astro'; // ira buscar o css ao layout
---

<Layout>
    <nav class="navbar">
        <a href="https://github.com/kill74/" id="about-link" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/guilherme-sales-35a580299/" id="projects-link" target="_blank">LinkedIn</a>
    </nav>

    <div class="keyboard">
        <span class="key">G</span>
        <span class="key">U</span>
        <span class="key">I</span>
        <span class="key">L</span>
        <span class="key">H</span>
        <span class="key">E</span>
        <span class="key">R</span>
        <span class="key">M</span>
        <span class="key">E</span>
    </div>

    <div class="description">
        <p>WebDeveloper</p>
    </div>

    <script>
        function highlightCurrentPage() {
            const currentPath = window.location.pathname;
            const links = document.querySelectorAll('.navbar a');
        }

        highlightCurrentPage();

        document.querySelectorAll('.navbar a').forEach(link => {
            link.addEventListener('click', (e) => {
                e.preventDefault();
                const href = link.getAttribute('href');

                document.body.style.opacity = '0';
            });
        });
    </script>
</Layout>
